<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Details</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>

<body>

  <br>
  <br>

  <div class="container">
    <!--your code goes in this container tag-->

    <form class="form-horizontal">

      <!--First name-->
      <div class="form-group">
        <label for="ClientFirstName" class="col-sm-2 control-label">First Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="ClientFirstName" placeholder="First Name">
        </div>
      </div>

      <!--Last name-->
      <div class="form-group">
        <label for="ClientLastName" class="col-sm-2 control-label">Last Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="ClientLastName" placeholder="Last Name">
        </div>
      </div>

      <!--Student Number-->
      <div class="form-group">
        <label for="ClientStudentNo" class="col-sm-2 control-label">Student Number</label>
        <div class="col-sm-10">
          <input type="tel" class="form-control" id="ClientStudentNo" placeholder="Student Number">
        </div>
      </div>

      <!--Email-->
      <div class="form-group">
        <label for="clientEmail" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
          <input type="email" class="form-control" id="clientEmail" placeholder="Email">
        </div>
      </div>

      <!--Course-->
      <div class="form-group">
        <label for="ClientCourse" class="col-sm-2 control-label">Course</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="ClientCourse" placeholder="Course">
        </div>
      </div>

      <!--Supervisor-->
      <div class="form-group">
        <label for="ClientSupervisor" class="col-sm-2 control-label">Supervisor</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="ClientSupervisor" placeholder="Course Supervisor">
        </div>
      </div>

      <!--Client Type-->
      <div class="form-group">
        <label for="ClientType" class="col-sm-2 control-label">Status</label>
        <div class="col-sm-10">
          <select class="form-control">
            <option>UCL Undergraduate Student</option>
            <option>UCL Postgraduate Student</option>
            <option>UCL Staff</option>
            <option>External</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-12">
          <span class="pull-right">
            <button type="submit" class="btn btn-sm btn-danger">Back</button>
            <button type="submit" class="btn btn-sm btn-success">Submit</button>
          </span>
        </div>
      </div>

    </form>

  </div>    <!--close container-->
</body>
</html>
