<!DOCTYPE html>
<html lang="en" ng-app>
 <head>
   <meta charset="utf-8">

   <!-- 新 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">

<!-- 可选的Bootstrap主题文件（一般不用引入） -->
<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">


  <title>
   Hello World!
    </title>


  <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
  <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
  <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
  <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>


 </head>
  <body>



    <div class="container">
      <div class="page-header">
         <h2>Tsc Loan System </h2>
       </div>
        <div class="jumbotron" >
         <h1>Hello, {{name||'guest'}}</h1>
         <label for="name">Login here</label>
      <div class="row">
        <div class="col-lg-6">
         <div class="input-group">
          <span class="input-group-addon">Username</span>
          <input type="text" ng-modle="userid" class="form-control"  placeholder="Zhenning Lou">
        </div>
       </div>
     </div>
     <div class="row">
      </br>
     </div>
     <div class="row">
       <div class="col-lg-6">
        <div class="input-group">
          <span class="input-group-addon">Password </span>
          <input type="text" ng-modle="password" class="form-control" placeholder="Password">
       </div>
     </div>
   </div>
   </br>
   <div class="row">
     <div class="col-md-offset-5">
     <button type="button" class="btn btn-primary">Log in</button>
   </div>
   </div>

  </div>
</div>



  </body>
</html>
