<!DOCTYPE html>
<head>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


  <title>
    Manage devices
  </title>
</head>
<body>
  <div class="container">
    <div class="col-md-4">
      <div class="just-padding">
        <div class="list-group list-group-root well">
            <h5><span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span> Select categories</h5>

          <a href="#VR_device" class="list-group-item" data-toggle="collapse">
            <i class="glyphicon glyphicon-chevron-right"></i>VR device
          </a>
          <div class="list-group collapse" id="VR_device">

            <a href="#occulusrift" class="list-group-item" data-toggle="collapse">
              <i class="glyphicon glyphicon-chevron-right"></i>occulusrift
            </a>
            <div class="list-group collapse" id="occulusrift">
              <a href="#" class="list-group-item">occulusrift_formal</a>
              <a href="#" class="list-group-item">occulusrift DK1</a>
            </div>

            <a href="#htcvive" class="list-group-item" data-toggle="collapse">
              <i class="glyphicon glyphicon-chevron-right"></i>HTC vive
            </a>
            <div class="list-group collapse" id="htcvive">
              <a href="#" class="list-group-item">HTC vive 1st Edition</a>
            </div>

          </div>

          <a href="#phone" class="list-group-item" data-toggle="collapse">
            <i class="glyphicon glyphicon-chevron-right"></i>Phone
          </a>
          <div class="list-group collapse" id="phone">

            <a href="#Samsung" class="list-group-item" data-toggle="collapse">
              <i class="glyphicon glyphicon-chevron-right"></i>Samsung
            </a>
            <div class="list-group collapse" id="Samsung">
              <a href="#" class="list-group-item">Galaxy S7 Edge</a>
              <a href="#" class="list-group-item">Galaxy Bomb 7</a>
            </div>

            <a href="#apple" class="list-group-item" data-toggle="collapse">
              <i class="glyphicon glyphicon-chevron-right"></i>Apple
            </a>
            <div class="list-group collapse" id="apple">
              <a href="#" class="list-group-item">Iphone 7 plus</a>
              <a href="#" class="list-group-item">Iphone 7</a>
              <a href="#" class="list-group-item">Iphone 6 plus</a>
            </div>

            <a href="#blackberry" class="list-group-item" data-toggle="collapse">
              <i class="glyphicon glyphicon-chevron-right"></i>Blackberry
            </a>
            <div class="list-group collapse" id="item-2-3">
              <a href="#" class="list-group-item">blackberry 9780</a>
            </div>

          </div>


          <a href="#tablet" class="list-group-item" data-toggle="collapse">
            <i class="glyphicon glyphicon-chevron-right"></i>Tablet
          </a>
          <div class="list-group collapse" id="tablet">

            <a href="#Samsungtab" class="list-group-item" data-toggle="collapse">
              <i class="glyphicon glyphicon-chevron-right"></i>Samsung
            </a>
            <div class="list-group collapse" id="Samsungtab">
              <a href="#" class="list-group-item">Galaxy Tab</a>
            </div>

            <a href="#ipad" class="list-group-item" data-toggle="collapse">
              <i class="glyphicon glyphicon-chevron-right"></i>Apple
            </a>
            <div class="list-group collapse" id="ipad">
              <a href="#" class="list-group-item">ipad air 2</a>
              <a href="#" class="list-group-item">ipad pro 11</a>
              <a href="#" class="list-group-item">ipad pro 9.7</a>
            </div>

          </div>

        </div>

      </div>
    </div>
    <div class="col-md-8">
      <div class="just-padding">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Device ID</th>
              <th>Status</th>
              <th>Due</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">oculusrift001</th>
              <td>OffLoan</td>
              <td>02/01/2018</td>
              <td><button class="btn btn-info">Edit</button></td>
            </tr>
            <tr>
              <th scope="row">oculusrift002</th>
              <td>OnLoan</td>
              <td>02/01/2016</td>
              <td><button class="btn btn-info">Edit</button></td>
            </tr>
            <tr>
              <th scope="row">oculusrift003</th>
              <td>Available</td>
              <td>--/--/----</td>
              <td><button class="btn btn-info">Edit</button></td>
            </tr>
          </tbody>
        </table>
        <div class="form-group pull-right">   <!--action buttons-->
          <button type="button" class="btn btn-success">Add Device</button>
        </div>
      </div>
    </div>
  </div>

</body>
</html>
