<!DOCTYPE html>
<html lang="en" data-ng-app="deviceMgr" data-ng-controller="appCtl">
<head>
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Device Manager</title>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <!-- Optional theme -->
  <link rel="stylesheet" href="assets/css/bootstrap-theme.min.css">
  <!-- angular-motion -->
  <link rel="stylesheet" href="assets/css/angular-motion.min.css">

  <!-- Latest compiled and minified jQuery -->
  <script src="assets/js/jquery.min.js"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="assets/js/bootstrap.min.js"></script>

  <!-- latest compiled and minified angular -->
  <script type="text/javascript" src="assets/js/angular.min.js"></script>
  <script type="text/javascript" src="assets/js/angular-route.min.js"></script>
  <script type="text/javascript" src="assets/js/angular-sanitize.min.js"></script>
  <script type="text/javascript" src="assets/js/angular-animate.min.js"></script>

  <!-- angular-resource -->
  <script src="/bower_components/angular-resource/angular-resource.js"></script>

  <!-- angular-strap -->
  <script src="assets/js/angular-strap.min.js"></script>
  <script src="assets/js/angular-strap.tpl.min.js"></script>

  <!-- js-sha256 -->
  <script src="/bower_components/js-sha256/build/sha256.min.js"></script>

  <!-- Controllers, routes and factories -->
  <script type="text/javascript" src="assets/js/controllers/appCtl.js"></script>
  <script type="text/javascript" src="assets/js/controllers/deviceCtl.js"></script>
  <script type="text/javascript" src="assets/js/controllers/newDeviceCtl.js"></script>
  <script type="text/javascript" src="assets/js/controllers/clientDetailsCtl.js"></script>
  <script type="text/javascript" src="assets/js/controllers/clientProfileCtl.js"></script>
  <script type="text/javascript" src="assets/js/controllers/clientSearchCtl.js"></script>
  <script type="text/javascript" src="assets/js/controllers/loansCtl.js"></script>
  <script type="text/javascript" src="assets/js/controllers/loginCtl.js"></script>
  <script type="text/javascript" src="assets/js/controllers/staffCtl.js"></script>

  <script type="text/javascript" src="assets/js/routes.js"></script>

  <script type="text/javascript" src="assets/js/factories/categoriesFactory.js"></script>
  <script type="text/javascript" src="assets/js/factories/clientsFactory.js"></script>
  <script type="text/javascript" src="assets/js/factories/devicesFactory.js"></script>
  <script type="text/javascript" src="assets/js/factories/loansFactory.js"></script>
  <script type="text/javascript" src="assets/js/factories/staffFactory.js"></script>
  <script type="text/javascript" src="assets/js/factories/typesFactory.js"></script>
  <base href="/">
</head>

<body ng-style="bodyStyle">
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a ng-if="currentUser" class="navbar-brand" href="/">Device Manager</a>
      <a ng-if="!currentUser" class="navbar-brand" href="/client">Device Manager</a>
    </div>

    <form class="navbar-form navbar-right">
      <div class="form-group">
        <input type="text" class="form-control" id="searchInput"
        data-ng-model="search">
      </div>
    </form>



    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="nav-collapse">
      <!-- if user is logged in-->
      <ul ng-if="currentUser" class="nav navbar-nav">
        <li class="dropdown">
          <a href class="dropdown-toggle" data-toggle="dropdown" role="button"
            aria-haspopup="true" aria-expanded="false">
            {{currentUser.staffFirstName}} {{currentUser.staffLastName}}
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li data-ng-class="pageClass('/changepassword')"><a href="/changepassword">Change Password</a></li>
            <li ng-if="currentUser.isAdmin" data-ng-class=""><a href="/">Admin Controls</a></li>
            <li role="separator" class="divider"></li>
            <li data-ng-class=""><a href="" ng-click="logout()">Logout</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Manage <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li data-ng-class="pageClass('/clientSearch')"><a href="/clientSearch">Users</a></li>
            <li data-ng-class="pageClass('/manage')"><a href="/manage">Devices</a></li>
            <li data-ng-class=""><a href="/">Groups</a></li>
            <li role="seperator" class="divider"></li>
            <li data-ng-class="pageClass('/client')"><a href="/client">View Client Page (testing only)</a></li>
          </ul>
        </li>
        <li data-ng-class="pageClass('/requests')"><a href="/requests">Requests <span class="badge">{{requestsNo}}</span></a></li>
        <li data-ng-class="pageClass('/approved')"><a href="/approved">Approved <span class="badge">{{approvedNo}}</span></a></li>
        <li data-ng-class="pageClass('/activeLoans')"><a href="/activeLoans">Active <span class="badge">{{currentNo}}</span></a></li>
      </ul>
      <!-- if user is not logged in -->
      <ul ng-if="!currentUser" class="nav navbar-nav">
        <li data-ng-class="pageClass('/login')"><a href="/login">Staff Login</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<data-ng-view></data-ng-view>
</body>
</html>
