<div class="container">
  <!--your code goes in this container tag-->
  <div class="page-header">
    <h2>
      {{activeClient.clientFirstName}}
      {{activeClient.clientLastName}}
    </h2>
  </div>

  <div>    <!--Information about the client (TOP)-->

    <form data-ng-submit="edit(false); update(activeClient)">

      <div class="row">   <!--client row 1-->

        <div class="col-xs-12">   <!--span entire width for xs-->

          <div class="form-group">

            <!--client clientFirstName-->
            <label for="clientName" class="col-sm-2 col-xs-4 control-label">
              First Name</label>
            <div class="col-sm-4 col-xs-8">
              <p data-ng-if="!editable">{{activeClient.clientFirstName}}</p>
              <input class="form-control input-sm" data-ng-if="editable" type="text"
              data-ng-model="activeClient.clientFirstName"
              ng-model-options="{ updateOn: 'submit' }" />
            </div>

            <!--client LastName-->
            <label for="clientName" class="col-sm-2 col-xs-4 control-label">
              Last Name</label>
            <div class="col-sm-4 col-xs-8">
              <p data-ng-if="!editable">{{activeClient.clientLastName}}</p>
              <input class="form-control input-sm" data-ng-if="editable" type="text"
              data-ng-model="activeClient.clientLastName"
              ng-model-options="{ updateOn: 'submit' }" />
            </div>

          </div>    <!--close form group-->
        </div>    <!--close column span for xs-->
      </div>    <!--close client row 1-->

      <div class="row">   <!--client row 2-->

        <div class="col-xs-12">   <!--span entire width for xs-->

          <div class="form-group">

            <!--clientType i.e. student/staff-->
            <label for="clientType"
            class="col-sm-2 col-xs-4 control-label">Client Type</label>
            <div class="col-sm-4 col-xs-8">
              <p data-ng-if="!editable">{{activeClient.clientType}}</p>
              <select data-ng-if="editable" class="form-control input-sm"
                data-ng-model="activeClient.clientType"
                ng-model-options="{ updateOn: 'submit' }">
                <option>UCL Undergraduate</option>
                <option>UCL Postgraduate</option>
                <option>UCL Staff</option>
                <option>External</option>
              </select>
            </div>

            <!--clientEmail-->
            <label for="clientEmail" class="col-sm-2 col-xs-4 control-label">
              Email</label>
            <div class="col-sm-4 col-xs-8">
              <p data-ng-if="!editable">{{activeClient.clientEmail}}</p>
              <input class="form-control input-sm" data-ng-if="editable" type="email"
              data-ng-model="activeClient.clientEmail"
              ng-model-options="{ updateOn: 'submit' }" />
            </div>

          </div>    <!--close form group-->
        </div>    <!--close column span for xs-->
      </div>    <!--close client row 2-->

      <div class="row">   <!--client row 3-->

        <div class="col-xs-12">   <!--span entire width for xs-->

          <div class="form-group">

            <!--clientStudentNumber if applicable-->
            <label for="studentNumber" class="col-sm-2 col-xs-4 control-label">
              Student Number</label>
            <div class="col-sm-4 col-xs-8">
              <p data-ng-if="!editable">{{activeClient.clientStudentNo}}</p>
              <input class="form-control input-sm" data-ng-if="editable" type="text"
              data-ng-model="activeClient.clientStudentNo"
              ng-model-options="{ updateOn: 'submit' }" />
            </div>

            <!--clientCourse if applicable-->
            <label for="studentNumber" class="col-sm-2 col-xs-4 control-label">
              Course</label>
            <div class="col-sm-4 col-xs-8">
              <p data-ng-if="!editable">{{activeClient.clientCourse}}</p>
              <input class="form-control input-sm" data-ng-if="editable" type="text"
              data-ng-model="activeClient.clientCourse"
              ng-model-options="{ updateOn: 'submit' }" />
            </div>

          </div>    <!--close form group-->
        </div>    <!--close column span for xs-->
      </div>    <!--close client row 3-->

      <div class="row">   <!--client row 3-->

        <div class="col-xs-12">   <!--span entire width for xs-->

          <div class="form-group">

            <!--clientSupervisor if applicable-->
            <label for="studentNumber" class="col-sm-2 col-xs-4 control-label">
              Supervisor</label>
            <div class="col-sm-4 col-xs-8">
              <p data-ng-if="!editable">{{activeClient.clientSupervisor}}</p>
              <input class="form-control input-sm" data-ng-if="editable" type="text"
              data-ng-model="activeClient.clientSupervisor"
              ng-model-options="{ updateOn: 'submit' }" />
            </div>

            <!--clientCourse if applicable-->

          </div>    <!--close form group-->
        </div>    <!--close column span for xs-->
      </div>    <!--close client row 3-->

      <div class="row">
        <div class="col-xs-12">
          <span class="pull-right">
            <button data-ng-if="!editable" type="button"
              class="btn btn-sm btn-info"
              data-ng-click="back()">Back</button>
            <button data-ng-if="!editable" type="button"
              class="btn btn-sm btn-default"
              bs-modal="sendEmailModal"
              data-scope="$scope"
              data-title="Send notification to {{activeClient.clientFirstName}} {{activeClient.clientLastName}}"
              data-content-template="/assets/partials/modals/sendNotificationModal.html"
              data-template-url="/assets/partials/modals/sendNotificationModal.tpl.html"
              data-ng-click="sendEmail()">Send Notification</button>
            <button data-ng-if="editable" type="button"
              class="btn btn-sm btn-danger"
              data-ng-click="edit(false)">Cancel</button>
            <button data-ng-if="!editable" type="button"
              class="btn btn-sm btn-warning"
              data-ng-click="edit(true)">Edit</button>
            <button data-ng-if="editable" type="submit"
              class="btn btn-sm btn-success">Save</button>
          </span>
        </div>
      </div>

    </form>   <!--end form-->

  </div>    <!--close client div-->

  <hr>

  <div class="page-header">
    <h2>
      Loan History
    </h2>
  </div>

  <!--START TABLE-->

  <table class="table table-condensed table-hover">

    <thead>   <!--table heading-->
      <tr>
        <th><small><span class="glyphicon glyphicon-sort"></span>
        </small> ID</th>   <!--deviceID-->

        <th><small><span class="glyphicon glyphicon-sort"></span>
        </small> Type</th>   <!--typeName-->

        <th class="hidden-xs"><small><span class="glyphicon glyphicon-sort"></span>
        </small> From</th>   <!--dateStarted-->

        <th class="hidden-xs"><small><span class="glyphicon glyphicon-sort"></span>
        </small> Returned</th>   <!--returned-->

        <th><small><span class="glyphicon glyphicon-sort"></span>
        </small> Loan Status</th>    <!--returned <= due ?-->

        <th>Faults Reported</th>    <!--damageReported-->

      </tr>
    </thead>    <!--end table heading-->

    <tbody>
      <tr ng-repeat="loan in loans">    <!-- row for each loan in user history -->
        <td><a href="/deviceDetails/{{loan.deviceID}}">{{loan.deviceID}}</a></td>
        <td>{{loan.typeName}}</td>
        <td class="hidden-xs">{{loan.dateStarted | date: 'dd/MM/yyyy'}}</td>
        <td class="hidden-xs">{{loan.returned | date: 'dd/MM/yyyy'}}</td>
        <td>{{loan.loanStatus}}</td>
        <td>{{loan.damageReported}}</td>
      </tr>
    </tbody>

  </table>    <!--end table-->

</div>    <!--close container-->
