<div class="container">
  <!--your code goes in this container tag-->
  <!--START TABLE-->
  <div class="row">

    <div class="col-md-9">

      <div class="page-header">
        <h3>Search Clients</h3>
      </div>

      <table class="table table-condensed table-hover">

        <thead>   <!--table heading-->
          <tr>
            <th>
              <a data-ng-click="sortfield =
                (sortfield === 'clientID') ?
                '-clientID' : 'clientID'">
                ID
              </a>
            </th>   <!--deviceID-->

            <th>
              <a data-ng-click="sortfield =
                (sortfield === 'clientLastName') ?
                '-clientLastName' : 'clientLastName'">
                Name
              </a>
            </th>   <!--clientFirstName + clientLastName-->

            <th>
              <a data-ng-click="sortfield =
                (sortfield === 'clientType') ?
                '-clientType' : 'clientType'">
                Type
              </a>
            </th>    <!--clientType-->

            <th class="hidden-xs">Email Address</th>    <!--clientEmail-->

            <th></th>

          </tr>
        </thead>    <!--close table heading-->

        <tr data-ng-repeat="client in clients
          | filter: search
          | orderBy: sortfield">    <!--first row-->
          <td>{{client.clientID}}</td>
          <td>{{client.clientFirstName}} {{client.clientLastName}}</td>
          <td>{{client.clientType}}</td>
          <td class="hidden-xs">{{client.clientEmail}}</td>
          <td>
              <a type="button" href="/clientProfile/{{client.clientID}}" class="btn btn-xs btn-info pull-right">Details</a>
          </td>
        </tr>   <!--end row-->


      </table>

    </div>    <!--close col-md-9-->

  </div>    <!--close row-->

</div>    <!--close container-->
