<div class="container">
  <div class="row"><!--put buttons here-->

    <div class="col-xs-12 col-sm-6 col-md-4">
      <h2>Manage Devices</h2>
      <p>View, edit, add and delete devices</p>
      <p><a class="btn btn-primary" href="/manage" role="button">Go to Manage Device &raquo;</a></p><div class="clearfix"></div>
    </div><!--/.col-xs-6.col-lg-4-->

    <div class="col-xs-12 col-sm-6 col-md-4">
      <h2>Pending Requests</h2>
      <p>View all loan requests pending approval</p>
      <p><a class="btn btn-primary" href="/requests" role="button">Go to Pending Request &raquo;</a></p><div class="clearfix"></div>
    </div><!--/.col-xs-6.col-lg-4-->

    <div class="col-xs-12 col-sm-6 col-md-4">
      <h2>Client History</h2>
      <p>Search current and past clients, and view their loan histories</p>
      <p><a class="btn btn-primary" href="/clientSearch" role="button">Go to User history &raquo;</a></p><div class="clearfix"></div>
    </div><!--/.col-xs-6.col-lg-4-->

    <div class="col-xs-12 col-sm-6 col-md-4">
      <h2>Approved Loan Requests</h2>
      <p>View all approved loans waiting to be collected and sign them out to the clients</p>
      <p><a class="btn btn-primary" href="/approved" role="button">Go to signing out device &raquo;</a></p><div class="clearfix"></div>
    </div><!--/.col-xs-6.col-lg-4-->

    <div class="col-xs-12 col-sm-6 col-md-4">
      <h2>Active Loans</h2>
      <p>View all currently active loans and sign them back in</p>
      <p><a class="btn btn-primary" href="/activeLoans" role="button">Go to active loans &raquo;</a></p><div class="clearfix"></div>
    </div><!--/.col-xs-6.col-lg-4-->

    <div class="col-xs-12 col-sm-6 col-md-4">
      <h2>Loan History</h2>
      <p>View all current and previous loans and requests</p>
      <p><a class="btn btn-primary" href="/previous" role="button">view previous loans &raquo;</a></p><div class="clearfix"></div>
    </div><!--/.col-xs-6.col-lg-4-->

    <div class="col-xs-12 col-sm-6 col-md-4">
      <h2>Denied Requests</h2>
      <p>View all previously denied loan requests</p>
      <p><a class="btn btn-primary" href="/denied" role="button">view rejected loans &raquo;</a></p><div class="clearfix"></div>
    </div><!--/.col-xs-6.col-lg-4-->


  </div><!--/row-->



</div>    <!--close container-->
