<div class="container">

  <div class="panel-group">

    <div class="panel panel-danger">   <!--start panel-->

      <div class="panel-heading">
        <h3 class="panel-title">
          On-the-fly
          <span class="pull-right glyphicon glyphicon-plus"></span>
        </h3>
      </div>

    </div>    <!--end panel-->

    <div data-ng-repeat="loan in loans
      | filter: {approved: true}
      | filter: {dateStarted: null}"
      class="panel panel-default">   <!--start panel-->

      <div class="panel-heading">
        <h3 class="panel-title">
          {{loan.clientFirstName}}
          {{loan.clientLastName}}
          -
          {{loan.typeName}}
        </h3>
      </div>

      <div class="panel-body">   <!--TODO: add ng-show here-->
        <form>

          <!--Information about the client (TOP)-->
          <div class="row">
            <h3 class="col-md-1">Client</h3>
          </div>

          <!--CLIENT INFO HERE-->
          <div class="row">    <!--client row-->

            <div class="col-xs-12 col-md-6">
              <div class="form-group">

                <!--client name-->
                <label for="clientName" class="col-xs-4 control-label">
                  Name</label>
                <div class="col-xs-8">
                  <p>{{loan.clientFirstName}}
                    {{loan.clientLastName}}
                  </p>
                </div>

              </div>  <!--close form-group-->
            </div>    <!--close col-xs-12 col-md-6-->

            <div class="col-xs-12 col-md-6">
              <div class="form-group">

                <!--client type i.e. student/staff-->
                <label for="clientType"
                class="col-xs-4 control-label">Client Type</label>
                <div class="col-xs-8">
                  <p>{{loan.clientType}}</p>
                </div>

              </div>  <!--close form-group-->
            </div>    <!--close col-xs-12 col-md-6-->

            <div class="col-xs-12 col-md-6">
              <div class="form-group">

                <!--client email-->
                <label for="clientEmail" class="col-xs-4 control-label">
                  Email</label>
                <div class="col-xs-8">
                  <p>{{loan.clientEmail}}</p>
                </div>

              </div>  <!--close form-group-->
            </div>    <!--close col-xs-12 col-md-6-->

            <div class="col-xs-12 col-md-6">
              <div class="form-group">

                <!--client student number if applicable-->
                <label for="studentNumber" class="col-xs-4 control-label">
                  Student Number</label>
                <div class="col-xs-8">
                  <p>{{loan.clientStudentNo}}</p>
                </div>

              </div>    <!--close form-group-->
            </div>    <!--close col-xs-12 col-md-6-->

          </div>    <!--close client row-->

          <!--Information about the device (BOTTOM)-->
          <div class="row">
            <h3 class="col-md-1">Device</h3>
          </div>

          <!--DEVICE INFO HERE-->
          <div class="row">   <!--device row-->

            <div class="col-xs-12 col-md-6">
              <div class="form-group">

                <!--device name-->
                <label for="deviceName" class="col-xs-4 control-label">
                  Type</label>
                <div class="col-xs-8">
                  <p>{{loan.typeName}}</p>
                </div>

              </div>  <!--close form-group-->
            </div>    <!--close col-xs-12 col-md-6-->

            <div class="col-xs-12 col-md-6">
              <div class="form-group">

                <!--category-->
                <label for="categoryName"
                class="col-xs-4 control-label">Device Category</label>
                <div class="col-xs-8">
                  <p>
                    {{loan.parentCategoryName}}
                    /
                    {{loan.subCategoryName}}
                    /
                  </p>
                </div>

              </div>  <!--close form-group-->
            </div>    <!--close col-xs-12 col-md-6-->

            <div class="col-xs-12 col-md-6">
              <div class="form-group">

                <!--deviceID-->
                <label for="deviceID" class="col-xs-4 control-label">
                  Device ID</label>
                <div class="col-xs-8">
                  <p>{{loan.deviceID}}</p>
                </div>

              </div>  <!--close form-group-->
            </div>    <!--close col-xs-12 col-md-6-->

            <div class="col-xs-12 col-md-6">
              <div class="form-group">

                <!--device serial/IMEI-->
                <label for="studentNumber" class="col-xs-4 control-label">
                  Serial Number</label>
                <div class="col-xs-8">
                  <p>{{loan.deviceSerial}}</p>
                </div>

              </div>  <!--close form-group-->
            </div>    <!--close col-xs-12 col-md-6-->

            <div class="col-xs-12 col-md-6">
              <div class="form-group">

                <!--device description-->
                <label for="deviceID" class="col-xs-4 control-label">
                  Description</label>
                <div class="col-xs-8">
                  <p>{{loan.deviceDescription}}</p>
                </div>

              </div>  <!--close form-group-->
            </div>    <!--close col-xs-12 col-md-6-->

            <div class="col-xs-12 col-md-6">
              <div class="form-group">

                <!--notes about the device-->
                <label for="studentNumber" class="col-xs-4 control-label">
                  Notes</label>
                <div class="col-xs-8">
                  <p>{{loan.deviceNotes}}</p>
                </div>

              </div>  <!--close form-group-->
            </div>    <!--close col-xs-12 col-md-6-->

            <div class="col-xs-12 col-md-6">
              <div class="form-group">

                <!--due date-->
                <label for="due" class="col-xs-4 control-label">
                  Due</label>
                <div class="col-xs-8">
                  <p>{{loan.due}} TODO</p>
                </div>

              </div>  <!--close form-group-->
            </div>    <!--close col-xs-12 col-md-6-->

          </div>    <!--end device row-->

          <div class="form-group pull-right">   <!--action buttons-->

            <br />

            <button type="button" class="btn btn-sm btn-danger">Remove</button>

            <button type="button" class="btn btn-sm btn-info">Edit</button>

            <button type="button" class="btn btn-sm btn-success">Sign Out</button>

          </div>    <!--end action buttons-->

        </form>   <!--end form-->

      </div>    <!--end panel body-->

    </div>    <!--end panel-->

  </div>    <!--close panel-group-->

</div>    <!--close container-->
