<div class="container">
  <div class="page-header">
    <h2>Change the Password </h2>
  </div>
  <div class="jumbotron" >
    <label for=You may change the password here</label>
      <div class="row">
        <div class="col-lg-12 col-md-10 col-sm-12 col-xs-10">
          <div class="input-group">
            <span class="input-group-addon">Username</span>
            <input type="text" ng-modle="userid" class="form-control"  placeholder="zxczxc">
          </div>
        </div>
      </div>
    </br>
    <div class="row">
    </br>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-10 col-sm-12 col-xs-10">
      <div class="input-group">
        <span class="input-group-addon">OldPassword </span>
        <input type="text" ng-modle="password" class="form-control" placeholder="xxxxxxxx">
      </div>
    </div>
  </div>
</br>
<div class="row">
</br>
</div>
<div class="row">
  <div class="col-lg-12 col-md-10 col-sm-12 col-xs-10">
    <div class="input-group">
      <span class="input-group-addon">NewPassword </span>
      <input type="text" ng-modle="newpassword" class="form-control" placeholder="xxxxxxxxx">
    </div>
  </div>
</div>
</br>
<div class="row">
</br>
</div>
<div class="row">
  <div class="col-lg-12 col-md-10 col-sm-12 col-xs-10">
    <div class="input-group">
      <span class="input-group-addon">Input NewPassword again! </span>
      <input type="text" ng-modle="newpassword" class="form-control" placeholder="xxxxxxxxx">
    </div>
  </div>
</div>
</br>
<div class="row">
  <div class="col-lg-12 col-md-10 col-sm-12 col-xs-10">
    <button type="button" class="btn btn-primary pull-right">Submit</button>
  </div>
</div>

</div>
</div>
