<div class="container">
  <!--your code goes in this container tag-->
  <div class="page-header">
    <h2>
      {{activeClient.clientFirstName}}
      {{activeClient.clientLastName}}
    </h2>
  </div>

  <div>    <!--Information about the client (TOP)-->

    <form data-ng-submit="edit(false)">

      <div class="row">   <!--client row 1-->

        <div class="col-xs-12">   <!--span entire width for xs-->

          <div class="form-group">

            <!--client clientFirstName-->
            <label for="clientName" class="col-sm-2 col-xs-4 control-label">
              First Name</label>
            <div class="col-sm-4 col-xs-8">
              <p data-ng-if="!editable">{{activeClient.clientFirstName}}</p>
              <input class="form-control input-sm" data-ng-if="editable" type="text"
              data-ng-model="activeClient.clientFirstName"
              ng-model-options="{ updateOn: 'submit' }" />
            </div>

            <!--client LastName-->
            <label for="clientName" class="col-sm-2 col-xs-4 control-label">
              Last Name</label>
            <div class="col-sm-4 col-xs-8">
              <p data-ng-if="!editable">{{activeClient.clientLastName}}</p>
              <input class="form-control input-sm" data-ng-if="editable" type="text"
              data-ng-model="activeClient.clientLastName"
              ng-model-options="{ updateOn: 'submit' }" />
            </div>

          </div>    <!--close form group-->
        </div>    <!--close column span for xs-->
      </div>    <!--close client row 1-->

      <div class="row">   <!--client row 2-->

        <div class="col-xs-12">   <!--span entire width for xs-->

          <div class="form-group">

            <!--clientType i.e. student/staff-->
            <label for="clientType"
            class="col-sm-2 col-xs-4 control-label">Client Type</label>
            <div class="col-sm-4 col-xs-8">
              <p data-ng-if="!editable">{{activeClient.clientType}}</p>
              <input class="form-control input-sm" data-ng-if="editable" type="text"
              data-ng-model="activeClient.clientType"
              ng-model-options="{ updateOn: 'submit' }" />
            </div>

            <!--clientEmail-->
            <label for="clientEmail" class="col-sm-2 col-xs-4 control-label">
              Email</label>
            <div class="col-sm-4 col-xs-8">
              <p data-ng-if="!editable">{{activeClient.clientEmail}}</p>
              <input class="form-control input-sm" data-ng-if="editable" type="text"
              data-ng-model="activeClient.clientEmail"
              ng-model-options="{ updateOn: 'submit' }" />
            </div>

          </div>    <!--close form group-->
        </div>    <!--close column span for xs-->
      </div>    <!--close client row 2-->

      <div class="row">   <!--client row 3-->

        <div class="col-xs-12">   <!--span entire width for xs-->

          <div class="form-group">

            <!--clientStudentNumber if applicable-->
            <label for="studentNumber" class="col-sm-2 col-xs-4 control-label">
              Student Number</label>
            <div class="col-sm-4 col-xs-8">
              <p data-ng-if="!editable">{{activeClient.clientStudentNo}}</p>
              <input class="form-control input-sm" data-ng-if="editable" type="text"
              data-ng-model="activeClient.clientStudentNo"
              ng-model-options="{ updateOn: 'submit' }" />
            </div>

            <!--clientCourse if applicable-->
            <label for="studentNumber" class="col-sm-2 col-xs-4 control-label">
              Course</label>
            <div class="col-sm-4 col-xs-8">
              <p data-ng-if="!editable">{{activeClient.clientCourse}}</p>
              <input class="form-control input-sm" data-ng-if="editable" type="text"
              data-ng-model="activeClient.clientCourse"
              ng-model-options="{ updateOn: 'submit' }" />
            </div>

          </div>    <!--close form group-->
        </div>    <!--close column span for xs-->
      </div>    <!--close client row 3-->

      <div class="row">   <!--client row 3-->

        <div class="col-xs-12">   <!--span entire width for xs-->

          <div class="form-group">

            <!--clientSupervisor if applicable-->
            <label for="studentNumber" class="col-sm-2 col-xs-4 control-label">
              Supervisor</label>
            <div class="col-sm-4 col-xs-8">
              <p data-ng-if="!editable">{{activeClient.clientSupervisor}}</p>
              <input class="form-control input-sm" data-ng-if="editable" type="text"
              data-ng-model="activeClient.clientSupervisor"
              ng-model-options="{ updateOn: 'submit' }" />
            </div>

            <!--clientCourse if applicable-->
            <label for="studentNumber" class="col-sm-2 col-xs-4 control-label">
              Group(s)</label>
            <div class="col-sm-4 col-xs-8">
              <dl style="list-style-type:none">
                <li>TODO!!!</li>
              </dl>
            </div>

          </div>    <!--close form group-->
        </div>    <!--close column span for xs-->
      </div>    <!--close client row 3-->

      <div class="row">
        <div class="col-xs-12">
          <span class="pull-right">
            <button data-ng-if="!editable" type="button"
              class="btn btn-sm btn-info"
              data-ng-click="back()">Back</button>
            <button data-ng-if="editable" type="button"
              class="btn btn-sm btn-danger"
              data-ng-click="edit(false)">Cancel</button>
            <button data-ng-if="!editable" type="button"
              class="btn btn-sm btn-warning"
              data-ng-click="edit(true)">Edit</button>
            <button data-ng-if="editable" type="submit"
              class="btn btn-sm btn-success">Save</button>
          </span>
        </div>
      </div>

    </form>   <!--end form-->

  </div>    <!--close client div-->

  <hr>

  <!--START TABLE-->

  <table class="table table-condensed table-hover">

    <thead>   <!--table heading-->
      <tr>
        <th><small><span class="glyphicon glyphicon-sort"></span>
        </small> ID</th>   <!--deviceID-->

        <th><small><span class="glyphicon glyphicon-sort"></span>
        </small> Type</th>   <!--typeName-->

        <th class="hidden-xs"><small><span class="glyphicon glyphicon-sort"></span>
        </small> From</th>   <!--dateStarted-->

        <th class="hidden-xs"><small><span class="glyphicon glyphicon-sort"></span>
        </small> Returned</th>   <!--returned-->

        <th><small><span class="glyphicon glyphicon-sort"></span>
        </small> On Time</th>    <!--returned <= due ?-->

        <th>Faults Reported</th>    <!--damageReported-->

      </tr>
    </thead>    <!--end table heading-->

    <tr>    <!--first row-->
      <td><a href="#">176</a></td>
      <td>Raspberry Pi 2</td>
      <td class="hidden-xs">02/12/2016</td>
      <td class="hidden-xs">08/12/2016</td>
      <td><span class="text-success glyphicon glyphicon-ok"></span></td>
      <td></td>
    </tr>   <!--end first row-->

    <tr>    <!--second row-->
      <td><a href="#">82</a></td>
      <td>iPad 3</td>
      <td class="hidden-xs">19/07/16</td>
      <td class="hidden-xs">01/08/2016</td>
      <td><span class="text-warning glyphicon glyphicon-remove"></span></td>
      <td></td>
    </tr>   <!--end second row-->

    <tr>    <!--third row-->
      <td><a href="#">245</a></td>
      <td>Odroid C1</td>
      <td class="hidden-xs">12/04/16</td>
      <td class="hidden-xs">18/05/2016</td>
      <td><span class="text-success glyphicon glyphicon-ok"></span></td>
      <td>SD reader is loose.</td>
    </tr>   <!--end third row-->

  </table>    <!--end table-->

</div>    <!--close container-->
