<div class="container">
  <!--your code goes in this container tag-->
  <!--START TABLE-->
  <div class="row">

    <div class="col-md-9">

      <div class="page-header">
        <h3>Search Clients</h3>
      </div>

      <table class="table table-condensed table-hover">

        <thead>   <!--table heading-->
          <tr>
            <th><small><span class="glyphicon glyphicon-sort"></span>
            </small> ID</th>   <!--deviceID-->

            <th><small><span class="glyphicon glyphicon-sort"></span>
            </small> Name</th>   <!--clientFirstName + clientLastName-->

            <th><small><span class="glyphicon glyphicon-sort"></span>
            </small> Type</th>    <!--clientType-->

            <th class="hidden-xs"><small><span class="glyphicon glyphicon-sort"></span>
            </small> Email Address</th>    <!--clientEmail-->

            <th></th>

          </tr>
        </thead>    <!--close table heading-->

        <tr>    <!--first row-->
          <td>001</td>
          <td>Borris Morris</td>
          <td>Postgraduate</td>
          <td class="hidden-xs">borris@morris.com</td>
          <td>
              <a type="button" href="/profile" class="btn btn-xs btn-info pull-right">Info</a>
          </td>
        </tr>   <!--end first row-->

        <tr>    <!--second row-->
          <td>002</td>
          <td>Ben Johnson</td>
          <td>External</td>
          <td class="hidden-xs">ben@johnson.net</td>
          <td>
              <button type="button" class="btn btn-xs btn-info pull-right">Info</button>
          </td>
        </tr>   <!--end second row-->

        <tr>    <!--third row-->
          <td>003</td>
          <td>Mandy Mandigan</td>
          <td>UCL Staff</td>
          <td class="hidden-xs">mandymandigan@hotmail.com</td>
          <td>
              <a type="button" class="btn btn-xs btn-info pull-right">Info</a>
          </td>
        </tr>   <!--end third row-->

      </table>

    </div>    <!--close col-md-9-->

  </div>    <!--close row-->

</div>    <!--close container-->
