<div class="container">
  <div class="row"><!--put buttons here-->

    <div class="col-xs-12 col-sm-6 col-md-4">
      <h2>Manage Device</h2>
      <p>Staff may add or delete device here </p>
      <p><a class="btn btn-primary" href="/manage" role="button">Go to Manage Device &raquo;</a></p><div class="clearfix"></div>
    </div><!--/.col-xs-6.col-lg-4-->

    <div class="col-xs-12 col-sm-6 col-md-4">
      <h2>Pending request</h2>
      <p>Staff approve or deny pending request here </p>
      <p><a class="btn btn-primary" href="/requests" role="button">Go to Pending Request &raquo;</a></p><div class="clearfix"></div>
    </div><!--/.col-xs-6.col-lg-4-->

    <div class="col-xs-12 col-sm-6 col-md-4">
      <h2>User History</h2>
      <p>Staff may look up user history here </p>
      <p><a class="btn btn-primary" href="/profile" role="button">Go to User history &raquo;</a></p><div class="clearfix"></div>
    </div><!--/.col-xs-6.col-lg-4-->

    <div class="col-xs-12 col-sm-6 col-md-4">
      <h2>Signing out Devices</h2>
      <p>Fill the signout form here </p>
      <p><a class="btn btn-primary" href="/approved" role="button">Go to signing out device &raquo;</a></p><div class="clearfix"></div>
    </div><!--/.col-xs-6.col-lg-4-->

    <div class="col-xs-12 col-sm-6 col-md-4">
      <h2>Active Loans</h2>
      <p>Look up active loans and send notification </p>
      <p><a class="btn btn-primary" href="/activeLoans" role="button">Go to active loans &raquo;</a></p><div class="clearfix"></div>
    </div><!--/.col-xs-6.col-lg-4-->

    <div class="col-xs-12 col-sm-6 col-md-4">
      <h2>Previous Loans</h2>
      <p>Look up previous loans </p>
      <p><a class="btn btn-primary" href="/activeLoans" role="button">view previos loans &raquo;</a></p><div class="clearfix"></div>
    </div><!--/.col-xs-6.col-lg-4-->

    <div class="col-xs-12 col-sm-6 col-md-4">
      <h2>Rejected Loan</h2>
      <p>Look up active loans and send notific </p>
      <p><a class="btn btn-primary" href="/activeLoans" role="button">view rejected loans &raquo;</a></p><div class="clearfix"></div>
    </div><!--/.col-xs-6.col-lg-4-->


  </div><!--/row-->



</div>    <!--close container-->
