<div class="container">
  <div class="page-header">
     <h2>Tsc Loan System </h2>
   </div>
    <div class="jumbotron" >
     <h1>Hello, {{name||'guest'}}</h1>
     <label for="name">Login here</label>
  <div class="row">
    <div class="col-lg-6">
     <div class="input-group">
      <span class="input-group-addon">Username</span>
      <input type="text" ng-modle="userid" class="form-control"  placeholder="Zhenning Lou">
    </div>
   </div>
 </div>
 <div class="row">
  </br>
 </div>
 <div class="row">
   <div class="col-lg-6">
    <div class="input-group">
      <span class="input-group-addon">Password </span>
      <input type="text" ng-modle="password" class="form-control" placeholder="Password">
   </div>
 </div>
</div>
</br>
<div class="row">
 <div class="col-md-offset-5">
 <button type="button" class="btn btn-primary">Log in</button>
</div>
</div>

</div>
</div>
