<div class="container">
  <!--your code goes in this container tag-->
  <div class="row">
    <div class="col-md-3">    <!--tree view columns-->
      <div>

          <h3>Categories</h3>

          <div class="list-group">

            <!--parent category-->
            <button type="button"  class="list-group-item tree1">
              <span class="glyphicon glyphicon-plus"></span>
              <strong><em>Add Parent Category</em></strong>
            </button>

            <!--ng-repeat parent categories-->

            <span data-ng-repeat="category in categories | filter: {parentCategoryID: null}">
              <button type="button" class="list-group-item tree1"
              data-ng-click="setActiveParent(category.categoryID)">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <strong>{{category.categoryName}}</strong>
              </button>

              <!-- CHILD CATEGORIES -->
              <!-- <div ng-show="activeParent == category.categoryID"> -->
              <span ng-show="checkActiveParent(category.categoryID)">

                <button type="button"  class="list-group-item tree2">
                  &nbsp&nbsp&nbsp&nbsp
                  <span class="glyphicon glyphicon-plus"></span>
                  <em>Add Child Category</em>
                </button>

                <!--child ng-repeat-->
                <span data-ng-repeat="subcategory in categories
                | filter: {parentCategoryID: category.categoryID}">

                  <button type="button"  class="list-group-item tree2"
                  data-ng-click="setActiveSub(subcategory.categoryID)">
                    &nbsp&nbsp&nbsp&nbsp
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    {{subcategory.categoryName}}
                  </button>

                  <!-- TYPES -->
                  <span data-ng-show="checkActiveSub(subcategory.categoryID)">

                    <button type="button"  class="list-group-item tree3">
                      &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                      <span class="glyphicon glyphicon-plus"></span>
                      <em>Add Type</em>
                    </button>

                    <!-- ng-repeat types -->

                    <button type="button"  class="list-group-item tree3"
                    data-ng-repeat="type in types | filter: {categoryID: subcategory.categoryID}"
                    data-ng-click="setActiveType(type.typeID)">
                      &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                      <span class="glyphicon glyphicon-play"></span>
                      {{type.typeName}}
                    </button>

                  </span>    <!-- END TYPES -->

                </span>    <!-- END CHILD NG-REPEAT -->

              </span>    <!-- END CHILD CATEGORIES -->

            </span>    <!-- END PARENT NG-REPEAT -->

        </div>    <!--close list-group-->

      </div>    <!--close 'empty' div-->

    </div>    <!--close tree view column (co-md-3)-->

    <!--START TABLE-->

    <div class="col-md-9">

      <h3>{{activeParent.categoryName || "All Categories"}}
        /
        {{activeSub.categoryName || "All Sub-categories"}}
        /
        {{activeType.typeName || "All Types"}}
      </h3>

      <table class="table table-condensed table-hover">

        <thead>   <!--table heading-->
          <tr>
            <th><small><span class="glyphicon glyphicon-sort"></span>
            </small> ID</th>   <!--deviceID-->

            <th><small><span class="glyphicon glyphicon-sort"></span>
            </small> Serial</th>   <!--deviceSerial-->

            <th><small><span class="glyphicon glyphicon-sort"></span>
            </small> Loan Satus</th>

            <th class="hidden-xs">Description</th>

            <th class="hidden-xs">Notes</th>

            <th></th>

          </tr>
        </thead>    <!--close table heading-->

        <!--NG_REPEAT-->

        <!--repeat row-->
        <tr data-ng-repeat="device in devices | filter: search"
        data-ng-show="(activeParent === null) ? true : checkActiveParent(getParentCategory(device.typeID).categoryID)
        && (activeSub === null) ? true : checkActiveSub(getSubCategory(device.typeID).categoryID)
        && (activeType === null) ? true : checkActiveType(device.typeID)">
          <td>{{device.deviceID}}</td>
          <td>{{device.serial}}</td>
          <td>{{getLoanStatus(device)}}</td>
          <td class="hidden-xs">{{device.description}}</td>
          <td class="hidden-xs">{{device.notes}}</td>
          <td>
            <button type="button" class="btn btn-xs btn-info pull-right"
            data-ng-click="setActiveDevice(device.deviceID)">Info</button>
          </td>
        </tr>   <!--end repeat row-->


        <tr>
          <td><button type="button" class="btn btn-sm btn-success"
            data-ng-show="(activeType === null) ? false : true">
            Add New</button></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

      </table>

    </div>    <!--close col-md-9-->

  </div>    <!--close row-->

  <!--FURTHER INFO HERE-->

  <div class="row"
  data-ng-show="activeDevice === null ? false : true">   <!--extra info row-->

    <div class="col-xs-12">

      <div class="panel panel-default">   <!--start panel-->

        <div class="panel-heading">   <!--panel heading-->
          <h3 class="panel-title">
            <strong>Device Information:
              {{activeDevice === null ? "" : getType(activeDevice.deviceID).typeName}}
            </strong>
          </h3>
        </div>

        <div class="panel-body">

          <form>

            <div class="row">   <!--device row 1-->

              <div class="col-xs-12 col-sm-6">   <!--span entire width for xs-->

                <div class="form-group">

                  <!--deviceType-->
                  <label for="deviceType" class="col-xs-4 control-label">
                    Type</label>
                  <div class="col-xs-8">
                    <p>{{activeDevice === null ? "" :
                      getType(activeDevice.deviceID).typeName}}</p>
                  </div>

                </div>    <!--close form-group-->

              </div>    <!--close col-->

              <div class="col-xs-12 col-sm-6">   <!--span entire width for xs but half for sm-->

                <div class="form-group">


                  <!--Category - categoryPath + categoryName-->
                  <label for="category"
                  class="col-xs-4 control-label">Category</label>
                  <div class="col-xs-8">
                    <p>{{activeDevice === null ? "" :
                      getParentCategory(getType(activeDevice.deviceID).typeID).categoryName}}
                      /
                      {{activeDevice === null ? "" :
                      getSubCategory(getType(activeDevice.deviceID).typeID).categoryName}}
                      /
                    </p>
                  </div>

                </div>    <!--close form group-->
              </div>    <!--close column span for xs-->
            </div>    <!--close client row 1-->

            <div class="row">   <!--device row 2-->

              <div class="col-xs-12 col-sm-6">   <!--span entire width for xs-->

                <div class="form-group">

                  <!--deviceID-->
                  <label for="deviceID" class="col-xs-4 control-label">
                    ID</label>
                  <div class="col-xs-8">
                    <p>{{activeDevice.deviceID}}</p>
                  </div>

                </div>    <!--close form-group-->

              </div>    <!--close col-->

              <div class="col-xs-12 col-sm-6">   <!--span entire width for xs but half for sm-->

                <div class="form-group">

                  <!--serial-->
                  <label for="serial"
                  class="col-xs-4 control-label">Serial</label>
                  <div class="col-xs-8">
                    <p>{{activeDevice.serial}}</p>
                  </div>

                </div>    <!--close form group-->
              </div>    <!--close column span for xs-->
            </div>    <!--close client row 2-->

            <div class="row">   <!--device row 3-->

              <div class="col-xs-12 col-sm-6">   <!--span entire width for xs-->

                <div class="form-group">

                  <!--isWorking-->
                  <label for="isWorking" class="col-xs-4 control-label">
                    Device Status</label>
                  <div class="col-xs-8">
                    <p>{{activeDevice.isWorking ? "Working" : "Needs Repair"}}</p>
                  </div>

                </div>    <!--close form-group-->

              </div>    <!--close col-->

              <div class="col-xs-12 col-sm-6">   <!--span entire width for xs but half for sm-->

                <div class="form-group">

                  <!--Loan status - Derived/Not editable-->
                  <label for="loanStatus"
                  class="col-xs-4 control-label">Loan Status</label>
                  <div class="col-xs-8">
                    <p>{{activeDevice === null ? "" : getLoanStatus(activeDevice)}}</p>
                  </div>

                </div>    <!--close form group-->
              </div>    <!--close column span for xs-->
            </div>    <!--close client row 3-->

            <div class="row">   <!--device row 4-->

              <div class="col-xs-12 col-sm-6">   <!--span entire width for xs-->

                <div class="form-group">

                  <!--visible-->
                  <label for="visible" class="col-xs-4 control-label">
                    Visible</label>
                  <div class="col-xs-8">
                    <p>{{activeDevice.visible ? "Yes" : "No"}}</p>
                  </div>

                </div>    <!--close form-group-->

              </div>    <!--close col-->

              <div class="col-xs-12 col-sm-6">   <!--span entire width for xs but half for sm-->

                <div class="form-group">

                  <!--defaultLoanTime-->
                  <label for="defaultLoanTime"
                  class="col-xs-4 control-label">Default Length</label>
                  <div class="col-xs-8">
                    <p>{{activeDevice.defaultLoanTime}} days</p>
                  </div>

                </div>    <!--close form group-->
              </div>    <!--close column span for xs-->
            </div>    <!--close client row 4-->

            <div class="row">   <!--device row 5-->

              <div class="col-xs-12 col-sm-6">   <!--span entire width for xs-->

                <div class="form-group">

                  <!--dateOfPurchase-->
                  <label for="dateOfPurchase" class="col-xs-4 control-label">
                    Date of Purchase</label>
                  <div class="col-xs-8">
                    <p>{{activeDevice.dateOfPurchase}}</p>
                  </div>

                </div>    <!--close form-group-->

              </div>    <!--close col-->

              <div class="col-xs-12 col-sm-6">   <!--span entire width for xs but half for sm-->

                <div class="form-group">

                  <!--dateOutOfService-->
                  <label for="dateOutOfService"
                  class="col-xs-4 control-label">Date Out of Service</label>
                  <div class="col-xs-8">
                    <p>{{activeDevice.dateOutOfService}}</p>
                  </div>

                </div>    <!--close form group-->
              </div>    <!--close column span for xs-->
            </div>    <!--close client row 5-->

            <div class="row">   <!--device row 6-->

              <div class="col-xs-12 col-sm-6">   <!--span entire width for xs-->

                <div class="form-group">

                  <!--description-->
                  <label for="description" class="col-xs-4 control-label">
                    Description</label>
                  <div class="col-xs-8">
                    <p>{{activeDevice.description}}</p>
                  </div>

                </div>    <!--close form-group-->

              </div>    <!--close col-->

              <div class="col-xs-12 col-sm-6">   <!--span entire width for xs but half for sm-->

                <div class="form-group">

                  <!--notes-->
                  <label for="notes"
                  class="col-xs-4 control-label">Notes</label>
                  <div class="col-xs-8">
                    <p>{{activeDevice.notes}}</p>
                  </div>

                </div>    <!--close form group-->
              </div>    <!--close column span for xs-->
            </div>    <!--close client row 6-->

          </form>

          <div class="row">
            <div class="col-xs-12">
              <span class="pull-right">
                <button type="button" class="btn btn-sm btn-danger">Delete</button>
                <button type="button" class="btn btn-sm btn-warning">Clone</button>
                <button type="button" class="btn btn-sm btn-info">Edit</button>
              </span>
            </div>
          </div>

        </div>    <!--close panel body-->

      </div>    <!--close panel-->

    </div>    <!--close col-xs-12-->

  </div>    <!--close extra info row-->

</div>    <!--close container-->
