<div class="container">
  <!--your code goes in this container tag-->
  <div class="row">
    <div class="col-md-3">    <!--tree view columns-->
      <div>

          <h3>Categories</h3>

          <div class="list-group">

            <!--parent category-->
            <button type="button"  class="list-group-item tree1">
              <span class="glyphicon glyphicon-plus"></span>
              <strong><em>Add Parent Category</em></strong>
            </button>

            <!--ng-repeat parent categories-->

            <span data-ng-repeat="category in categories | filter: {parentCategoryID: null}">
              <button type="button" class="list-group-item tree1"
              data-ng-click="setActiveParent(category.categoryID)">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <strong>{{category.categoryName}}</strong>
              </button>

              <!-- CHILD CATEGORIES -->
              <!-- <div ng-show="activeParent == category.categoryID"> -->
              <span ng-show="checkActiveParent(category.categoryID)">

                <button type="button"  class="list-group-item tree2">
                  &nbsp&nbsp&nbsp&nbsp
                  <span class="glyphicon glyphicon-plus"></span>
                  <em>Add Child Category</em>
                </button>

                <!--child ng-repeat-->
                <span data-ng-repeat="subcategory in categories
                | filter: {parentCategoryID: category.categoryID}">

                  <button type="button"  class="list-group-item tree2"
                  data-ng-click="setActiveSub(subcategory.categoryID)">
                    &nbsp&nbsp&nbsp&nbsp
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    {{subcategory.categoryName}}
                  </button>

                  <!-- TYPES -->
                  <span data-ng-show="checkActiveSub(subcategory.categoryID)">

                    <button type="button"  class="list-group-item tree3">
                      &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                      <span class="glyphicon glyphicon-plus"></span>
                      <em>Add Type</em>
                    </button>

                    <!-- ng-repeat types -->

                    <button type="button"  class="list-group-item tree3"
                    data-ng-repeat="type in types | filter: {categoryID: subcategory.categoryID}"
                    data-ng-click="setActiveType(type.typeID)">
                      &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                      <span class="glyphicon glyphicon-play"></span>
                      {{type.typeName}}
                    </button>

                  </span>    <!-- END TYPES -->

                </span>    <!-- END CHILD NG-REPEAT -->

              </span>    <!-- END CHILD CATEGORIES -->

            </span>    <!-- END PARENT NG-REPEAT -->

        </div>    <!--close list-group-->

      </div>    <!--close 'empty' div-->

    </div>    <!--close tree view column (co-md-3)-->

    <!--START TABLE-->

    <div class="col-md-9">

      <h3>{{activeParent.categoryName || "All Categories"}}
        /
        {{activeSub.categoryName || "All Sub-categories"}}
        /
        {{activeType.typeName || "All Types"}}
      </h3>

      <table class="table table-condensed table-hover">

        <thead>   <!--table heading-->
          <tr>
            <th><small><span class="glyphicon glyphicon-sort"></span>
            </small> ID</th>   <!--deviceID-->

            <th><small><span class="glyphicon glyphicon-sort"></span>
            </small> Serial</th>   <!--deviceSerial-->

            <th><small><span class="glyphicon glyphicon-sort"></span>
            </small> Loan Satus</th>

            <th class="hidden-xs">Description</th>

            <th class="hidden-xs">Notes</th>

            <th></th>

          </tr>
        </thead>    <!--close table heading-->

        <!--NG_REPEAT-->

        <!--repeat row-->
        <tr data-ng-repeat="device in devices | filter: search"
        data-ng-show="(activeParent === null) ? true : checkActiveParent(getParentCategory(device.typeID).categoryID)
        && (activeSub === null) ? true : checkActiveSub(getSubCategory(device.typeID).categoryID)
        && (activeType === null) ? true : checkActiveType(device.typeID)">
          <td>{{device.deviceID}}</td>
          <td>{{device.serial}}</td>
          <td>{{device.loanStatus}}</td>
          <td class="hidden-xs">{{device.description}}</td>
          <td class="hidden-xs">{{device.notes}}</td>
          <td>
            <span class="pull-right text-right">
              <a type="button" class="btn btn-xs btn-warning" style="margin-bottom: 2px; margin-top: 2px;"
              data-ng-click="">Clone</a>
              <a type="button" href="/deviceDetails/{{device.deviceID}}" style="margin-bottom: 2px; margin-top: 2px;"
              class="btn btn-xs btn-info"
              data-ng-click="">Info</a>
            </span>

          </td>
        </tr>   <!--end repeat row-->


        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td><button type="button" class="btn btn-xs btn-success pull-right"
            data-ng-show="(activeType === null) ? false : true">
            Add New</button></td>
        </tr>

      </table>

    </div>    <!--close col-md-9-->

  </div>    <!--close row-->


</div>    <!--close container-->
