<div class="container">
  <!--your code goes in this container tag-->
  <div class="row">
    <div class="col-md-3">    <!--tree view columns-->
      <div>

          <h3>Categories</h3>

          <div class="list-group">

            <!--parent category-->
            <button type="button" class="list-group-item tree1"
              bs-modal="addModal"
              data-scope="$scope"
              data-title="Add Category"
              data-content-template="/assets/partials/modals/addCategoryModal.html"
              data-template-url="assets/partials/modals/modal.tpl.html">
              <span class="glyphicon glyphicon-plus"></span>
              <strong><em>Add Category</em></strong>
            </button>

            <!--ng-repeat parent categories-->

            <span data-ng-repeat="category in categories
              | filter: {parentCategoryID: null} : true
              | orderBy: 'categoryName'">
              <button type="button" class="list-group-item tree1"
                data-ng-click="activeParent === category ?
                setActiveParent(null) : setActiveParent(category.categoryID)">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <strong>{{category.categoryName}}</strong>
              </button>

              <!-- CHILD CATEGORIES -->
              <!-- <div ng-show="activeParent == category.categoryID"> -->
              <span ng-show="activeParent === category">

                <button type="button"
                  class="list-group-item tree2"
                  bs-modal="addModal"
                  data-scope="$scope"
                  data-title="Add Sub-Category"
                  data-content-template="/assets/partials/modals/addSubModal.html"
                  data-template-url="assets/partials/modals/modal.tpl.html">
                  &nbsp&nbsp&nbsp&nbsp
                  <span class="glyphicon glyphicon-plus"></span>
                  <em>Add Sub-Category</em>
                </button>

                <!--child ng-repeat-->
                <span data-ng-repeat="subCategory in categories
                  | filter: {parentCategoryID: category.categoryID} : true
                  | orderBy: 'categoryName'">

                  <button type="button"
                    class="list-group-item tree2"
                    data-ng-click="activeSub === subCategory ?
                    setActiveSub(null) : setActiveSub(subCategory.categoryID)">
                    &nbsp&nbsp&nbsp&nbsp
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    {{subCategory.categoryName}}
                  </button>

                  <!-- TYPES -->
                  <span data-ng-show="activeSub === subCategory">

                    <button type="button"
                      class="list-group-item tree3"
                      bs-modal="addModal"
                      data-scope="$scope"
                      data-title="Add Type"
                      data-content-template="/assets/partials/modals/addTypeModal.html"
                      data-template-url="assets/partials/modals/modal.tpl.html">
                      &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                      <span class="glyphicon glyphicon-plus"></span>
                      <em>Add Type</em>
                    </button>

                    <!-- ng-repeat types -->

                    <button type="button"
                      class="list-group-item tree3"
                      data-ng-repeat="type in types
                      | filter: {categoryID: subCategory.categoryID} : true"
                      data-ng-click="setActiveType(type.typeID)">
                      &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                      <span class="glyphicon glyphicon-play"></span>
                      {{type.typeName}}
                    </button>

                  </span>    <!-- END TYPES -->

                </span>    <!-- END CHILD NG-REPEAT -->

              </span>    <!-- END CHILD CATEGORIES -->

            </span>    <!-- END PARENT NG-REPEAT -->

        </div>    <!--close list-group-->

      </div>    <!--close 'empty' div-->

    </div>    <!--close tree view column (co-md-3)-->

    <!--START TABLE-->

    <div class="col-md-9">

      <h3>{{activeParent.categoryName || "All Categories"}}
        /
        {{activeSub.categoryName || "All Sub-Categories"}}
        /
        {{activeType.typeName || "All Types"}}
      </h3>

      <table class="table table-condensed table-hover">

        <thead>   <!--table heading-->
          <tr>
            <th class="hidden-xs" ng-show="!activeParent">
              <a data-ng-click="sortfield =
                (sortfield === 'parentCategory') ?
                '-parentCategory' : 'parentCategory'">
                Category
              </a>
            </th>   <!--ParentCategory-->

            <th class="hidden-xs" ng-show="!activeSub">
              <a data-ng-click="sortfield =
                (sortfield === 'subCategory') ?
                '-subCategory' : 'subCategory'">
                Sub-Category
              </a>
            </th>   <!--subCategory-->

            <th class="hidden-xs" ng-show="!activeType">
              <a data-ng-click="sortfield =
                (sortfield === 'type') ? '-type' : 'type'">
                Type
              </a>
            </th>   <!--Type-->

            <th>
              <a data-ng-click="sortfield =
                (sortfield === 'deviceID') ?
                '-deviceID' : 'deviceID'">
                ID
              </a>
            </th>   <!--deviceID-->

            <th>
              <a data-ng-click="sortfield =
                (sortfield === 'serial') ?
                '-serial' : 'serial'">
                Serial
              </a>
            </th>   <!--deviceSerial-->


            <th>
              <a data-ng-click="sortfield =
                (sortfield === 'loanStatus') ?
                '-loanStatus' : 'loanStatus'">
                Loan Status
              </a>
            </th>

            <th class="hidden-xs">Description</th>

            <th class="hidden-xs">Notes</th>

            <th></th>

          </tr>
        </thead>    <!--close table heading-->

        <!--NG_REPEAT-->

        <!--repeat row-->
        <tr data-ng-repeat="device in devices
          | filter: search
          | orderBy: sortfield"
          data-ng-show="(activeParent === null) ?
          true : activeParent === device.parentCategory
          && (activeSub === null) ?
          true : activeSub === device.subCategory
          && (activeType === null) ?
          true : activeType === device.type">

          <td class="hidden-xs" ng-show="!activeParent">
            {{device.parentCategory.categoryName}}</td>
          <td class="hidden-xs" ng-show="!activeSub">
            {{device.subCategory.categoryName}}</td>
          <td class="hidden-xs" ng-show="!activeType">
            {{device.type.typeName}}</td>
          <td>{{device.deviceID}}</td>
          <td>{{device.serial}}</td>
          <td>{{device.loanStatus}}</td>
          <td class="hidden-xs">{{device.description}}</td>
          <td class="hidden-xs">{{device.notes}}</td>
          <td>
            <span class="pull-right text-right">
              <a type="button"
                class="btn btn-xs btn-warning"
                style="margin-bottom: 2px; margin-top: 2px;"
                data-ng-click="">Clone</a>
              <a type="button"
                href="/deviceDetails/{{device.deviceID}}"
                style="margin-bottom: 2px; margin-top: 2px;"
                class="btn btn-xs btn-info"
                data-ng-click="">
                Info
              </a>
            </span>

          </td>
        </tr>   <!--end repeat row-->


        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>
            <button type="button"
              class="btn btn-xs btn-success pull-right"
              data-ng-show="(activeType === null) ?
              false : true">
              Add New
            </button>
          </td>

        </tr>

      </table>

    </div>    <!--close col-md-9-->

  </div>    <!--close row-->


</div>    <!--close container-->
